@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main{
    width: auto;
    background-color: rgb(208, 222, 225);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 120;
    height: 85;
    margin: auto;
    display: flexbox;
    
}
.homeicon{
    width: 15px;
    height: 15px;
    float: left;
    /* color: aliceblue; */

}
.menu{
    /* width: 400;
    height: 70;
    float: left; */
   
    
}
.ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: rgb(182, 54, 62);
    font-family: arial;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}
ul li a:hover{
    color: rgb(5, 5, 7);

}
.search{
    width: 330px;
    height: auto;
    margin-left: 300px;
    float: left;
}
.srch{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    width: 200px;
    height: 40px;
    background: rgb(207, 187, 187);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 15px;
    color: rgb(0, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 90px;
    height: 40px;
    font-size: 20px;
    background: rgb(88, 145, 183);
    border: 2px solid rgb(rgb(188, 147, 147), green, blue);
    margin-top: 15px;
    color: rgb(0, 0, 0);
    
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn{
    outline: none;
}
.srch:focus{
    outline: none;

}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(227, 232, 233);
    padding-bottom: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: normal;
    line-height: 30px;
}
.empty{
    color: black;
    width: 10px;
    height: 10px;
}